<div class = 'jumbotron'>
<% @timetables.each do |t| %>
<div class='schedule-container'>
<h2><%= t.day %></h2>
<table class='table table-bordered table-striped'>
  <tr>
    <th width="10%">Час</th>
    <th width='30%'>Група</th>
    <th width='50%'>Заняття</th>
  </tr>
  <% t.schedules.order('hours').each do |schedule| %>
    <tr>
      <td><%= schedule.hours.strftime("%H:%M") %></td>
      <td><%= schedule.group %></td>
      <td><%= schedule.lesson %></td>
    <% if current_user && current_user.admin? %>
      <td><%= link_to "Відредагувати", edit_schedule_path(schedule, timetable_id: t.id) %></td>
      <td><%= link_to "Видалити", schedule, confirm: 'Ви впевнені?', method: :delete %></td>
    <% end %>
      </tr>
  <% end %>
</table>
<% if current_user && current_user.admin? %>
 <%= link_to "Створити новий запис", new_schedule_path(timetable_id: t), class: 'btn btn-md btn-danger pull-right' %>
<% end %>
</div>
<% end %>
</div>
