<h1 class= 'news_title'>Новини</h1>
  <% @news.each do |new| %>
  <div class='jumbotron index_news'>   
    <div class='row'>
      <% if new.images.empty? %>
        <h2><%= link_to new.title, new %></h2>
        <%= new.created_at.strftime("%d-%m-%Y") %>
        <p><%=truncate new.text, :length => 300, :escape => false %>
        <%= link_to "Читати далі", new %></p>
      <% else %>
        <% for image in new.images.take(1) %> 
          <div class='col-md-3'><%= image_tag image.avatar_url(:thumb)%></div>
        <% end %>
            <h2><%= link_to new.title, new %></h2>
            <%= new.created_at.strftime("%d-%m-%Y") %>
            <p><%=truncate new.text, :length => 300, :escape => false %>
            <%= link_to "Читати далі", new %></p>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= link_to 'Створити новину', new_news_path, :class => 'btn btn-lg btn-danger' %>
<%= will_paginate @news %>
      `