<div class= 'news_show jumbotron'>
  <div class='news-header'>
    <h1><%= @new.title %></h1>
    <%= @new.created_at.strftime("%d-%m-%Y") %>
  </div>
  <% for image in @new.images %>
    <div class='col-md-4'>
      <%= image_tag image.avatar_url(:thumb) if image.avatar? %>
      <div class='delete'>
        <%= link_to "видалити", image, :confirm => 'Ви впевнені?', :method => :delete %>
      </div>
     </div>
  <% end %>
  <p> <%= @new.text.html_safe %></p>
  <p><%= link_to 'Відредагувати новину', edit_news_path(@new) %></p>
  <p><%= link_to 'Видалити новину', news_path(@new),
              method: :delete,
              data: { confirm: 'Ви впевнені?' } %></p>
  <p><%= link_to "Додати картинку", new_image_path(:news_id => @new) %></p>
  <p> <%= link_to 'Назад до списку новин', news_index_path %></p>
</div>