<h1 class= 'news_title'>Галерея</h1>
<div class='jumbotron'> 
  <div class='row'>
    <% @albums.each do |album| %> 
      <div class = 'col-md-4 album'>
        <h1 class='album-title'><%= link_to album.title, album %></h1>
        <%= album.created_at.strftime("%d-%m-%Y") %>
        <% for pic in album.pictures.take(1) %> 
          <div class='thumb'><%= link_to image_tag(pic.avatar_url(:gallery), :class => 'img-thumbnail img-responsive'), album%></div>
        <% end %>   
        <p class='album-description'><%=truncate album.description.to_s, :length => 100, :escape => false %></p>
        </div>
      <% end %>
     </div>
    </div>
<% if current_user && current_user.admin? %>
  <%= link_to 'Створити альбом', new_album_path, :class => 'btn btn-lg btn-danger' %>
<% end %>