<div class= 'news_show jumbotron'>

<% if @material.video? %>
  <h1><%= @material.name %></h1>
    <div class='multimedia'>
      <%= video_tag @material.video_url.to_s, height: '300', width: '500', controls: true %>
    </div>
  <p><%= @material.description.html_safe %></p>
<% end %>

<% if @material.audio? %>
  <h1><%= @material.name %></h1>
    <div class='multimedia'>
      <%= audio_tag @material.video_url.to_s, controls: true %>
    </div>
  <p><%= @material.description.html_safe %></p>
<% end %>

 
  <p><%= link_to 'Відредагувати матеріал', edit_material_path(@material) %></p>
  <p><%= link_to 'Видалити матеріал', material_path(@material),
              method: :delete,
              data: { confirm: 'Ви впевнені?' } %></p>
  <p> <%= link_to 'Назад до матеріалів', materials_path %></p>
</div>