<header>
	<%= image_tag('logo.png', width:'250', height:'150', alt:'Site Logo', class:'logo')%>
	<div class='slogan pull-right'>Наші діти набагато здібніші,<br> ніж ми це собі уявляємо!</div>
</header>
<div class='center'>
<%= link_to 'Кольорові', root_path, :class => 'btn btn-lg red' %>
<%= link_to 'Новини', '#', :class => 'btn btn-lg green' %>
<%= link_to 'Розклад', '#', :class => 'btn btn-lg yellow' %>
<%= link_to 'Галерея', '#', :class => 'btn btn-lg orange' %>
<%= link_to 'Контакти', contacts_path, :class => 'btn btn-lg purple' %>
</div>