<header>
	<%= image_tag('logo.png', width:'250', height:'150', alt:'Site Logo', class:'logo')%>
	<div class='slogan pull-right'>Наші діти набагато здібніші,<br> ніж ми це собі уявляємо!</div>
</header>
<ul class="nav nav-tabs nav-justified">
  <li><%= link_to 'Кольорові', root_path %></li>
  <li><%= link_to 'Новини', '#' %></li>
  <li><%= link_to 'Розклад', '#' %></li>
  <li><%= link_to 'Галерея', '#' %></li>
  <li><%= link_to 'Контакти', contacts_path %></li>
</ul>
